/* static/css/hero.css */
.hero {
  position: relative;
  display: block;


  min-height: 448px;
  height: 562px;

  padding: 64px;
  border-radius: 10px;

  /* removed background-image */
  background-color: #f7faf9;

  font-family: Poppins, -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "segoe ui", "helvetica neue", helvetica, Ubuntu, roboto, noto, arial, sans-serif;

  color: rgb(0, 57, 57);
}
